@{
    ViewBag.Title = "Home Page";
    ViewBag.NavActive = "Home";
}

<div class="hero-unit">
    <h1>@ViewBag.Message</h1>
    <p>ShoelaceMVC is a better ASP.NET starter project that'll get you going FAST, but with a design that doesn't make you cringe if you go to production the same day.</p>
    <p><a class="btn primary large" href="http://asp.net/mvc">Learn more &raquo;</a></p>     
</div>      
<div class="row"> 
        <div class="span5"> 
          <h2>Twitter Bootstrap</h2> 
          <p>The styling is provided by Twitter's open source CSS/JS framework called Bootstrap.  It provides a clean, easy, and production ready style for deploying great-looking applications without design skills.</p> 
          <p><a class="btn" href="http://twitter.github.com/bootstrap">Learn more &raquo;</a></p> 
        </div> 
        <div class="span5"> 
          <h2>CodeFirst Membership</h2> 
           <p>Leveraging the CodeFirst Membership project, you get a membership provider that is every bit as good and secure as the default ASP.NET one, but you can easily include your application tables in the same DB without having to run regeneration tools to ensure the provider is in sync.</p> 
          <p><a class="btn" href="http://codefirstmembership.codeplex.com">View details &raquo;</a></p> 
       </div> 
        <div class="span6">
          <h2>Support</h2> 
          <p>There is no warranty with this project, written or implied, and no support save the community.  However it was started by <a href="http://ryanhayes.net">Ryan Hayes</a>, and he's typically free for inquiries and help.</p> 
          <p><a class="btn" href="http://ryanhayes.net">Contact Ryan &raquo;</a></p> 
        </div> 
</div>
